*~
.*~
#*
.#*
*.out
*.dSYM/
a.out
*.log
*.aux
*.pdf
week1/mario-more/mario
week1/credit/credit
week1/debug/debug
week1/half/half
week1/prime/prime
week1/population/population
week1/debug/debug
README.html
week*/Makefile
